!!!
%html
  %head
    %title Ebuilder 2
    %link{:rel => "stylesheet", :type => "text/css", :href => "/main.css"}
  %body
    %ul.tabnav
      - $menu.each_pair do |name,link|
        %li
          %a{:href => "#{link}"}= name.to_s.gsub('_'," ")
    %p.banner
      %a{:href => "/",:align => "center"}
        %img{ :align => "center", :src => "/img/logo-ebuilder.png", :alt => "Ebuilder", :border => "0" } 
    = yield
