!!!
%html
  %head
    %title Ebuilder 2
    %link{:rel => "stylesheet", :type => "text/css", :href => "/main.css"}
  %body
    %ul.horizontal
      - $menu.each_pair do |name,link|
        %li
          %a{:href => "#{link}"}= name
    %h1{:align => "center"} Ebuilder 
    = yield
