<form action="/slave/create" method="POST">
  <input type="text" name="name" id="name">
  <input type="text" name="ip" id="ip">
  <input type="text" name="user" id="user">
  <input type="password" name="password" id="pass">
  <input type="submit" value="Add Slave"/>
</form>

